<ion-content>

  <ion-row *ngIf="value=='searchs'">
    <ion-col col-11>
      <ion-searchbar [(ngModel)]="terms">
      </ion-searchbar>
    </ion-col>
    <ion-col col-1 (click)="sea()">
      <ion-icon ios="ios-close-circle" md="md-close-circle"></ion-icon>
    </ion-col>
  </ion-row>

  <ion-row class="color" *ngFor="let drug of array | patientsearch:terms">
    <ion-col col-4>
      <h2>{{drug.patient_drugs.medicine_id}}</h2>
    </ion-col>
    <ion-col col-1></ion-col>
    <ion-col col-2>
      <h2>{{drug.patient_drugs.breakfast}}-{{drug.patient_drugs.lunch}}-{{drug.patient_drugs.dinner}}</h2>
    </ion-col>
    <ion-col col-1></ion-col>
    <ion-col col-4>
      <h2>{{drug.patient_drugs.before_after_food}}</h2>
    </ion-col>
  </ion-row>

  <ion-fab right bottom class="bottoms" (click)="emergency()">
    <img src="assets/icon/Emergency.png">
  </ion-fab>
</ion-content>

<ion-footer>
  <ion-row class="colors">
    <ion-col col-6 text-center class="bottom" (click)="adds()">
      <a class="bor-right">
        <img src="assets/icon/add1.png" /> Add
      </a>
    </ion-col>

    <ion-col col-6 text-center class="bottom">
      <a (click)="search()">
        <img src="assets/icon/search.png" /> Search
      </a>
    </ion-col>
  </ion-row>
</ion-footer>