page-aus {
    .tito{
        color: #949191;
       font-size: 13px;
    }
    .border-bottom{
        border-bottom: 1px solid #eeeeee; 
        margin-top: 2%;
    }
    .to{
        margin-left: 4%;
    }
}
