page-update-dr-profile {
    .colors{
        background:  #097a93;
    }
    .footer-md::before{
        top: -2px;
        bottom: auto;
        background-position: left 0 top 0;
        height: 0px;
    }
    .bottom{
        margin: 0px;
        padding: 0px 0;
      }
    .bottom a {
        color: #fff;
        font-size: 14px;
        cursor: pointer;
        display: block;
        padding: 8px 0;
        margin: 0px;  
      }
      .top{
          margin-top: 5%;
      }
     .toolbar-title-md {
        font-size: 15px;
        font-weight: 500;
        color: whitesmoke;
        /* padding: 0px 12px; */
        margin-left: -20%;
    }
      .border-bottom{border-bottom: 1px solid #eeeeee;}
       .signup-label{
        margin: 0px;
        padding: 0px;
        font-size: 14px;
        color: #828282;
    }
       .bottom a img {
        margin-right: 4px;
        margin-left: 10px;
        width: 3%;
        margin-top: 0%;
    }
    .bor-right{
      border-right: 0.1px solid #FFF;
    }
    .bottoms{
        width: 10%;
        margin-left: 85%;
        cursor: pointer;
    }
    .date{
        background-color: #efefef;
    }
    .row{
        margin-top: 5%;
    }
    .back-button.show-back-button {
        display: none; 
    }
    .toolbar-title-md {
        font-size: 16px;
        font-weight: 500;
        color: whitesmoke;
        padding: 0px 12px;
    }
    .label-md {
        margin: 0px 0px 0px 0px;
    }
    .add{
        background-color: #097a93;
        width: 100%;
    }
    .err_danger{
        color: red;
        text-align: center;
        font-size: 12px;
        margin-top: 5px;
    }

    ion-input {text-align: left;     
        color: #000000;
        font-weight: 500;
        ::-webkit-input-placeholder {text-align: left; }
     }
}
