page-notificationview {
    .back-button.show-back-button {
        display: inline-block;
        color: whitesmoke;
    }
    .toolbar-title-md {
        // padding: 0 12px;
        font-size: 15px;
        font-weight: 500;
        color: whitesmoke;
    }
    .row h2{
        margin-top: 6px;
        font-size: 12px;
        font-weight: 500;
    }
    .row h1{
        margin-top: 6px;
        font-size: 12px;
        font-weight: 100;
    }
    .row{
        margin-top: 1%;
    }
   
    .border-bottom{
        border-bottom: 0.1px solid #eeeeee; 
    }
    
}
