<ion-content>

  <ion-row *ngIf="value=='search'">
    <ion-col col-11>
      <ion-searchbar [(ngModel)]="terms">
      </ion-searchbar>
    </ion-col>
    <ion-col col-1 (click)="sea()">
      <ion-icon ios="ios-close-circle" md="md-close-circle"></ion-icon>
    </ion-col>
  </ion-row>

  <ion-row class="color" *ngFor="let lab of arrays | labsearch:terms">
    <ion-col col-4>
      <h2>{{lab.pathlab_reports.investigation_id}}</h2>
    </ion-col>

    <ion-col col-7>
      <h1>{{lab.pathlab_reports.report_value}} {{lab.pathlab_reports.test_unit}}</h1>
      <p>Normal Range {{lab.pathlab_reports.min_range}} to {{lab.pathlab_reports.max_range}} mg/dl</p>
    </ion-col>
    <ion-col col-1>
      <p class="arrow" [innerHTML]="lab.pathlab_reports.arrows"></p>
    </ion-col>
  </ion-row>

  <ion-fab right bottom class="bottoms" (click)="emergency()">
    <img class="bott" src="assets/icon/Emergency.png">
  </ion-fab>

</ion-content>

<ion-footer>
  <ion-row class="colors">
    <ion-col col-6 text-center class="bottom" (click)="add()">
      <a class="bor-right">
        <img src="assets/icon/add1.png" /> Add
      </a>
    </ion-col>

    <ion-col col-6 text-center class="bottom">
      <a (click)="search()">
        <img src="assets/icon/search.png" /> Search
      </a>
    </ion-col>
  </ion-row>
</ion-footer>