page-group {
    .imgss{
        width: 60%;
        height: 60%;
        margin-top: 80%;
      }

      .cols{
        font-size: 15px;
        margin-top: -2%;   
      }
      
      .myCustomSelect{
        margin-left: -10%;
       max-width: 100%;
       color: whitesmoke;
      }

      .label-md {
        margin: 6% 0px 0px 15%;
        cursor: pointer;
        font-size: 15px;
      }
      .toolbar-background {
        background: #097a93;
        }
        
        .toolbar-title-md {
          color: #fff;
          font-size: 15px;
          margin-left: 12%;
      }
      
      .imgss{
        width: 60%;
        height: 60%;
        margin-top: 80%;
      }
      .header-md::after{
        background-position: left 0 top -2px;
        width: 100%;
        height: 0px;
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAHBAMAAADzDtBxAAAAD1BMV…h/TXEAAAAaSURBVAjXYxCEAgY4UIICBmMogMsgFLtAAQCNSwXZKOdPxgAAAABJRU5ErkJggg==);
        background-repeat: repeat-x;
      }
      .cols{
        font-size: 15px;
        margin-top: -2%;   
      }
      
      .myCustomSelect{
        margin-left: -10%;
       max-width: 100%;
       color: whitesmoke;
      }
      super-tabs-toolbar > ion-toolbar.toolbar .tab-buttons-container .tab-buttons super-tab-button .badge {
        position: absolute;
        top: 0;
        right: 0px;
        width: 0%;
        border-radius: 50%;
        width: 20px;
        height: 20px;
      }
      ion-badge {
        padding: 3px 0px;
        text-align: center;
        display: inline-block;
        min-width: 10px;
        font-size: 1.3rem;
        font-weight: bold;
        line-height: 1;
        white-space: nowrap;
        vertical-align: baseline;
      }
      .row {
        cursor: pointer;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
      }
      .border-bottom{
        border-bottom: 0.1px solid #eeeeee; 
      }
      .notification{
        color: whitesmoke;
        margin-top: 35%;
        margin-left: 100%;
        font-size: 25px;
        margin-left: 150%
      }
      
      #notifications-badge {
        background-color: red;
        position: absolute;
        top: 0px;
        right: -100%;
        width: 60%;
        height: 40%;
        border-radius: 50%;
      }
      h6{
        font-size: 13px;
        margin-left: 5%;
      }
      .item-md h2 {
        margin: 0px;
        color: #000;
        font-size: 12px;
        font-weight: 500;
    }
      .item-md {
        text-transform: none;
        background-color: #eeeeee;
        min-height: 10px !important;
        margin-top: 5px;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
        transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    }
      // ios css
      .label-ios {
        margin: 14px 8px 11px 25%;
        font-size: 14px;
      }
      .header-ios .toolbar-background-ios{ border: 0px;} 

      .segment-md .segment-button {
        overflow: inherit !important;
        color: #fff;
        background-color: #097a93;
        opacity: 1;
        height: 40px;
     }

     .segment-md .segment-button:hover{
      font-weight: 500;
      border-bottom:3px whitesmoke solid; 
      opacity: 1;
   }


      .segment-md .segment-button.segment-activated {
        border-color: red;
        opacity: 1;
    }
      
// .segment-md .segment-button {
//   -webkit-box-flex: 1;
//   -webkit-flex: 1;
//   -ms-flex: 1;
//   flex: 1;
//   width: 0;
//   height: 4.2rem;
//   border-bottom-width: 2px;
//   border-bottom-style: solid;
//   border-bottom-color: rgba(0, 0, 0, 0.1);
//   font-size: 1.2rem;
//   font-weight: 500;
//   line-height: 4rem;
//   text-transform: uppercase;
//   color: #165d6d;
//   background-color: transparent;
//   opacity: 0.7;
//   -webkit-transition: 100ms all linear;
//   transition: 100ms all linear;
//   padding: 0 6px;
// }
// .segment-button {
//   margin-left: 0;
//   margin-right: 0;
//   text-align: center;
//   position: relative;
//   display: block;
//   overflow: hidden;
//   text-overflow: ellipsis;
//   white-space: nowrap;
//   cursor: pointer;
// }
      .scroll-content {
          // display: flex;
          // left: -3px;
          // right: 0;
          top: 5px;
      }
    .SwipedTabs-tabs ion-segment-button {
        // color: #fff;
        // padding: 0 10px;
    }
    .badge,.w3-tag{
      background-color:#a0a0a0;
      color:#fff;
      display:inline-block;
      padding-left:5px;
      padding-right:5px;
      text-align:center
    }
    .badge{
      border-radius:50%
    }
}
