page-alumni {

    h2{
        margin-top: 2%;
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 2%;
    }
    .grids{
        height: 35px;
        background-color: #097a93;
    }
    h3{
        margin-top:0%;
        font-size: 14px;
        color: whitesmoke;
    }
    .rows{
        margin-top: 3%;
    }
    [col-11] {
        margin-top: -3%;
        max-width: 91.66667%;
    }
    [col-1]{
        margin-left: -5%;
    }
    .toolbar-title-md {
        padding: 0 12px;
        font-size: 16px;
        font-weight: 500;
        color: whitesmoke;
    }
}
