page-add-drugs {
    .toolbar-background {
        background: #097a93;
        }

     .toolbar-title-md {
            padding: 0 0px;
            font-size: 15px;
            font-weight: 500;
            color: whitesmoke;
        }
        .back-button.show-back-button {
            display: inline-block;
            color: whitesmoke;
            // color:red
        }
    .item-md.item-block .item-inner{border: 0px;}
    
        .clear{
        margin: 0px;
        padding: 0px;
        width: 100%;
        display: block;
        clear: both;
    }
    
    .input-hospital{
        margin: 0px auto;
        padding: 0px;
        width: 80%;
    }
     
    .input-hospital input{ 
        margin: 0px;
        padding: 0px 0px 0px 40px;
        height: 52px;
        text-align: left;
        border-bottom: 1px solid #eeeeee;
    }

    .add-hospital-block{
        margin: 0px auto;
        padding: 0px;
        display: block;
        width: 80%;
    }
    .add-hospital-block ion-input{
        margin: 0px;
        padding: 0px 0px 0px 40px;
        height: 52px;
        text-align: left;
        border-bottom: 1px solid #eeeeee;
    }
    ion-input {text-align: left;     
          ::-webkit-input-placeholder {text-align: left; }
      }
    .add-hospital-block .space{
        margin-right: 10px;
    }
    .form{
        margin: 10% 0px 0px 0px;
    }
    .button-add{
        margin: 15% 2% 10px 10%;
        height: 36px;
        width: 120px;
        color:#fff;
        font-size: 12px;
        border-radius: 60px !important;
        background: rgba(10,120,148,1);
    }
        
    img {
        max-width: 100%;
        border: 0;
        width: 50%;
        margin: 10% 0% 0% 0%;
    }
    .select-add{
        width: 90%;
        padding: 13px 8px 13px 0px;
        height: 50px;
        border: 0px;
        border-bottom: 1px solid #eeeeee;
        color: #868585;
        margin: 10px auto;
    }
    .list{
        text-align:center; 
        width:100%; 
        display:block;
    }
    input[type="radio"] {
        padding: 0;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        height: 50px;
        text-align: center;
    }
    .test{
        width: 50%;
    }
    .ion{
        display: inline-block;
        vertical-align: top;
        position: relative;
        bottom: 16px;
    }
    //ios css
    .toolbar-title-ios {
        text-align: left;
        font-size: 14px;
        font-weight: 500;
        color: whitesmoke;
        pointer-events: auto;
    }
    }
