page-hospital-dashboard {
.toolbar-background {
  background: #097a93;
  }
  .toolbar-title-md {
    color: #fff;
    font-size: 15px;
    margin-left: 12%;
}

.imgss{
  width: 80%;
}
.header-md::after{
  background-position: left 0 top -2px;
  width: 100%;
  height: 0px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAHBAMAAADzDtBxAAAAD1BMV…h/TXEAAAAaSURBVAjXYxCEAgY4UIICBmMogMsgFLtAAQCNSwXZKOdPxgAAAABJRU5ErkJggg==);
  background-repeat: repeat-x;
}
.cols{
  font-size: 15px;
  margin-top: -2%;   
}

.myCustomSelect{
  margin-left: -10%;
 max-width: 100%;
 color: whitesmoke;
}
super-tabs-toolbar > ion-toolbar.toolbar .tab-buttons-container .tab-buttons super-tab-button .badge {
  position: absolute;
  top: 0;
  right: 0px;
  width: 0%;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
ion-badge {
  padding: 3px 0px;
  text-align: center;
  display: inline-block;
  min-width: 10px;
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1;
  white-space: nowrap;
  vertical-align: baseline;
}
.label-md {
  margin: 7% 0px 0px 15%;
  cursor: pointer;
}
.ends{
  margin-top: 4%;
}
.row {
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

// ios css
.label-ios {
  margin: 14px 8px 11px 25%;
  font-size: 14px;
}

}
