page-qrcode {
    .toolbar-title-md {
        padding: 0 12px;
        font-size: 16px;
        font-weight: 500;
        color: whitesmoke;
    }

    // ios css
    .toolbar-title-ios {
        padding: 0 12px;
        font-size: 16px;
        font-weight: 500;
        color: whitesmoke;
    }
}
