page-drownprofile {

  .back{
    margin-top:2%;
    background-color: #097a93;
    height: 30px;  
  }

  .back h6{
    font-size: 15px;
    line-height: 0px;
    color: whitesmoke;
    margin-left: 5%;
  }
.top{
  margin-top:-7%;
  text-align: center;
}
  .toolbar-background {
    background: #097a93;
    }
    .item-md {
        padding-left: 16px;
        padding-right: 0;
        position: relative;
        font-size: 1.6rem;
        font-weight: normal;
        text-transform: none;
        color: #000;
        background-color: #efefef;
        margin-top: 0%;
        height: 140px;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
        transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    }
 
    .item-md h2 {
      color: #000;
      font-size: 14px;
    }
    
    .item-md p {
      font-size: 13px;
      line-height: normal;
      text-overflow: inherit;
      color: #666; 
    }
    img {
      border: 0;
      width: 10px;
    }
    .imges{
      margin: 0px;
      padding: 0px;
      width: 100%;
      height: 100%;
      margin-top: 1%;
      text-align: center;
      display: block;
    }
    .tab-right-wrap{
			background-color: #097a93;
			color: #fff;
      }
      .line{
        margin-top:0px !important;
        margin-bottom: 0px !important;
        text-align: center;
      }
    .imges .imk{
      margin: 0px;
      padding: 0px;
      margin-left: 2%;
      width: 100px;
      height: 100px;
      border-radius: 10%;
      border: 2px solid #00c0ef;
      text-align: center;
      display: inline-block;
      overflow: hidden;
    }
    .imges .imk img{
      width: 100%;
      height: 100%;
    }   
    .border-right{
      border-right: 0.1px solid #b9b9b9;
    }
    .border-bottom{
      border-bottom: 0.3px solid #b9b9b9;
    }
    .border-top{
      margin-top: 5px;
      border-top: 1px solid #b9b9b9;
    }
    h2 {
      margin-top: 10px;
      font-size: 13px;
      color: #827e7e;
      font-weight: 500;
    }
    .border-bottom p{
      font-size: 13px;
      margin-top: 5px;
      font-weight:400;
      color: #000;
      
    }

    [col-4] {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 33.33333%;
      -ms-flex: 0 0 33.33333%;
      flex: 0 0 33.33333%;
      width: 33.33333%;
      margin-top: 22px;
      max-width: 33.33333%;
    }

    .bottom{
      margin: 0px;
      padding: 0px 0;
    }
    .bottom a {
      color: #fff;
      font-size: 14px;
      cursor: pointer;
      display: block;
      padding: 6px 0;
      margin: 0px;  
    }
    .bottom a img{margin-right: 4px; margin-left: 10px;}
    .bor-right{
      border-right: 0.1px solid #FFF;
    }
    [col-8] {
      margin-top: 2.3%;
      font-size: 15px;
      color: #fff;      
  }
  .colors{
    background: #097a93 ;
    margin-top: 0%;
}
// .back-button.show-back-button {
//   display: inline-block;
//   color: whitesmoke;
//   // color:red
// }
}

