page-logbook {
    .colors{
        background:  #097a93;
    }
    .footer-md::before{
        top: -2px;
        bottom: auto;
        background-position: left 0 top 0;
        height: 0px;
    }
    .bottom{
        margin: 0px;
        padding: 0px 0;
    }
    .bottom a {
        color: #fff;
        font-size: 14px;
        cursor: pointer;
        display: block;
        padding: 8px 0;
        margin: 0px;  
    }
   
    .bottoms{
        width: 10%;
        margin-left: 85%;
        cursor: pointer;
        }

    .bottom a img {
        margin-right: 4px;
        margin-left: 10px;
        width: 8%;
        margin-top: 0%;
    }

    .bor-right{
        border-right: 0.1px solid #FFF;
    }

    .date{
        background-color: #efefef;
    }

    .tab-right-wrap{
        background-color: #097a93;
        color: #fff;
    }
    .toolbar-title-md {
        padding: 0 12px;
        font-size: 16px;
        font-weight: 500;
        margin-top: 3%;
        color: whitesmoke;
    }
  
    .logbook{
        margin: 0px;
        padding: 0px;
        width: 100%;
        height: 460px;
        background-color: whitesmoke;
        display: block;    
        overflow-x: auto;
    }
        
    .logbook p{
        margin: 0;
        padding: 0;
        display: block;
        width: 100px;
        float: left;
        background: red;
    }
    thead{
        margin: 0;
        padding: 0;
        width: 100%;
        height: 50px;
        padding-top: 10px;
        display: block;
    }
    tbody{
        margin: 0;
        padding: 0;
        width: 100%;
        display: block;
    }

    th {
    margin:0;
    min-width: 140px;

    }
    td {
        margin: 0;
        min-width: 140px;
        text-align: center;
    }
    .extra-width{
        min-width: 200px;
    }
    .notification{
        color: whitesmoke;
        margin-top: 17%;
        font-size: 25px;
      }
      
      #notifications-badge {
        background-color: red;
        position: absolute;
        top: 0px;
        // width: 35%;
        // height: 40%;
        margin-left: 10%;
        border-radius: 50%;
      }
}
