<ion-header>
    <ion-navbar>
        <ion-title>ADD NEW LAB</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="outer-content">
    <form #addlabform="ngForm" (ngSubmit)="submit(addlabform)">
        <ion-list>
            <label>
                <select class="select-add" [(ngModel)]="lab_data.Invistigation" [ngModelOptions]="{standalone: true}">
                    <option value="" disabled selected>Select Invistigation</option>
                    <option value="{{data.lab_tests.test_name}}" *ngFor="let data of lab">{{data.lab_tests.test_name}}</option>
                </select>
            </label>

            <label>
                <select class="select-add" [(ngModel)]="lab_data.Unit" [ngModelOptions]="{standalone: true}">
                    <option value="" disabled selected>Select Unit</option>
                    <option value="{{data.lab_tests.test_unit}}" *ngFor="let data of lab">{{data.lab_tests.test_unit}}</option>
                </select>
            </label>

            <ion-item>
                <ion-label floating>Maximum Range</ion-label>
                <ion-input type="text" name="" placeholder="" [(ngModel)]="lab_data.Maxrange" [ngModelOptions]="{standalone: true}"></ion-input>
            </ion-item>
            <div [hidden]="(!isSubmitted) || (lab_data.Maxrange!='')" class="err_danger">
                Enter Maxrange Name
            </div>

            <ion-item>
                <ion-label floating>Minimum Range</ion-label>
                <ion-input type="text" name="" placeholder="" [(ngModel)]="lab_data.Minrange" [ngModelOptions]="{standalone: true}"></ion-input>
            </ion-item>
            <div [hidden]="(!isSubmitted) || (lab_data.Minrange!='')" class="err_danger">
                Enter Minrange Name
            </div>


            <ion-item>
                <ion-label floating>Report value</ion-label>
                <ion-input type="text" name="" placeholder="" [(ngModel)]="lab_data.report" [ngModelOptions]="{standalone: true}"></ion-input>
            </ion-item>
            <div [hidden]="(!isSubmitted) || (lab_data.report!='')" class="err_danger">
                Enter Report Name
            </div>


            <div class="clear"></div>
        </ion-list>

        <ion-row>
            <ion-col col-6>
                <button class="button-add" type="submit"> Submit </button>
            </ion-col>
            <ion-col col-6>
                <button class="button-add" type="reset" (click)="Reset()"> Reset </button>
            </ion-col>
        </ion-row>
    </form>
    <ion-row>
        <ion-col col-2>
        </ion-col>
        <ion-col col-10 text-center>
            <img src="assets/icon/lab.png">
        </ion-col>
        <ion-col col-2>
        </ion-col>
    </ion-row>
</ion-content>